* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Button {
    display: flex;
    justify-content: center;
    padding: 10px;
}
.Button button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}